



form{
    display: flex;
  flex-direction: column;
  width: 300px;
  margin: 0 auto;

}
label{
    margin-top:10px;
}

input{
    margin-top:10px;
    padding:5px;
}
button{
    margin-top:10px;
    padding:5px;
}
